<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>투자 현황</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/state.css') }}"
    />
  </head>
  <body>
    <div class="app-container">
        <header class="header">
            <img src="{{ url_for('static', filename='image/clock.png') }}" alt="Clock" class="top-bar">
            <p class="page-title weight-500">투자 현황</p>
        </header>
        <main class="main-content state-column">
          <a href="{{ url_for('detail2') }}">
            <img src="{{ url_for('static', filename='image/state1.svg') }}" class="state-icon">
          </a>
          <img src="{{ url_for('static', filename='image/state2.svg') }}" class="state-icon">
          <img src="{{ url_for('static', filename='image/state3.svg') }}" class="state-icon">
          <img src="{{ url_for('static', filename='image/state4.svg') }}" class="state-icon">
          <img src="{{ url_for('static', filename='image/state5.svg') }}" class="state-icon">
          <a href="{{ url_for('detail1') }}">
            <img src="{{ url_for('static', filename='image/state6.svg') }}" class="state-icon">
          </a>
        </main>


        <div class="nav-bar">
            <div class="nav-item" onclick="location.href='/state'">
            <img src="{{ url_for('static', filename='image/store.png') }}" />
            </div>
            <div class="nav-item active" onclick="location.href='/home'">
            <img src="{{ url_for('static', filename='image/home.png') }}" />
            </div>
            <div class="nav-item" onclick="location.href='/my'">
            <img src="{{ url_for('static', filename='image/my.png') }}" />
            </div>
        </div>
              <!-- 하단 고정 이미지 -->
        <img
            src="{{ url_for('static', filename='image/bar.png') }}"
            alt="Bottom Clock"
            class="bottom-bar"
        />
    </div>
  </body>
</html>
